<div class="border border-gray-700 bg-gray-800/50 rounded-xl p-6">
    <div class="flex items-center justify-between border-b border-b-gray-700 text-left pb-6">
        <h1 class="text-2xl font-bold ">
            Manage Users
        </h1>
        <a routerLink="/admin/users/create" class="">
            <app-button variant="info">New User</app-button>
        </a>
    </div>
    
    @if (message()) {
        <div class="px-6">
            <app-alert [type]="'success'" [message]="'User created successfully!'"></app-alert>
        </div>
    }
    
    <div class="">
        <table class="w-full text-sm text-gray-400">
            <thead>
                <tr class="border-b border-b-gray-700 text-left">
                    <th class="px-3 py-3">No</th>
                    <th class="px-3 py-3">Avatar</th>
                    <th class="px-3 py-3">Name</th>
                    <th class="px-3 py-3">Email</th>
                    <th class="px-3 py-3" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(user of users(); track $index) {
                <tr class="border-b border-b-gray-700 text-left">
                    <td class="px-3 py-2">{{ $index + 1 }}</td>
                    <td class="px-3 py-2">
                        <img src="{{ user?.avatar }}" alt="" class="w-12 rounded-full">
                    </td>
                    <td class="px-3 py-2">{{ user?.name }}</td>
                    <td class="px-3 py-2">{{ user?.email }}</td>
                    <td class="px-3 py-2">
                        <a routerLink="/admin/users/{{ user?.id }}" class="">
                            <app-button variant="primary">View</app-button>
                        </a>
                    </td>
                    <td class="px-3 py-2">
                        <a routerLink="/admin/users/{{ user?.id }}/edit" class="">
                            <app-button variant="secondary">Edit</app-button>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>